* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

.titreforulaire {
  text-align: center;
  font-size: 20px;
}

header {
  background-color: pink;
  height: 100px;
  margin: 0;
  color: black;
  text-align: center;
}

header a {
  color: black;
  text-align: end;
  flex-wrap: wrap;
  padding: 10px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  /* La propriété resize permet de contrôler le caractère 
  redimensionnable d'un élément et notamment la direction dans 
  laquelle celui-ci peut être redimensionné. */
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* pour avoir une main quand on est sur envoyer */
}
input[type="submit"]:hover {
  background-color: rgb(193, 91, 127);
}
.container {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 70px;
}
/*  debut pour validé ou non le forumulaire = regex */
.valide {
  border-color: green;
}
input .invalide {
  border-color: crimson;
}

.invalide + p {
  font-weight: bold;
  color: crimson;
}

.valide + p {
  display: none;
}
/*Fin pour validé ou non le forumulaire = regex */

footer {
  background-color: pink;
  height: 100px;
  margin: 0;
  padding: 10px;
}

footer a {
  color: black;
  text-align: center;
  font-size: 20px;
}

.centrertext {
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 30px;
}
