* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
header {
  height: 150px;
}

.headercontainer {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0px 10px;
}

.headerimage {
  width: 100px;
  height: 100px;
}
.headerimage img {
  width: 100%;
  height: 100%;
}
.jeudede {
  align-self: center;
  font-size: 3rem;
  font-weight: bold;
}

.diceimage {
  width: 100px;
  height: 100px;
  margin: 50px auto 0 auto;
}
.diceimage img {
  width: 100%;
  height: 100%;
}

.containerplayers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.containerjouer {
  width: 200px;
  height: 200px;
  text-align: center;
}
/* .joueur1 {
  background-color: rgb(163, 22, 83);
}
.joueur2 {
  background-color: rgb(163, 22, 83);
} */
.joueur {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}
.choixjouer {
  font-weight: bold;
  font-size: 40px;
}
.btn1,
.btn2,
.newbtn {
  font-weight: bold;
  border: solid;
  background-color: pink;
  padding: 10px;
  margin-top: 70px;
  border-radius: 10px;
  /* pour enlever le curseur et mettre une main */
  cursor: pointer;
}
.regledujeu {
  border: 2px solid black;
  font-size: 1rem;
  margin: 100px 600px 0px;
  margin-bottom: 70px;
}
.mainregle {
  font-weight: bold;
  font-size: 30px;
}
/* caché le dé au débutdu jeu */
.cacher {
  display: none;
}
/* le jouer qui est entrain de jouer prend ce background */
.joueur1 {
  background-color: rgba(255, 255, 255, 0.4);
}

.containerbtnnew {
  width: 100px;
  margin: 10px auto 0 auto;
}
/* pour mettre la pastille rouge pour montrer le jouer qui est entrain de jouer */
.active-player {
  content: url(../img/circle-fill.svg);
  width: 13px;
  margin-left: 10px;
  padding-bottom: 2px;
}
.textwinner {
  text-align: center;
  margin-top: 130px;
  font-weight: bold;
  font-size: 4rem;
  color: green;
}
.cachertextwinner{
  display: none;
}
